/**********************************
***************************/
/******* fn *******/
/**********************************
***************************/
/******* animation *******/
@keyframes grow {
  to {
    height: 100%;
  }
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../fonts/notosans/NotoSansKR-Regular.otf), url(../fonts/notosans/NotoSansKR-Regular.woff), url(../fonts/notosans/NotoSansKR-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../fonts/notosans/NotoSansKR-Medium.otf), url(../fonts/notosans/NotoSansKR-Medium.woff), url(../fonts/notosans/NotoSansKR-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../fonts/notosans/NotoSansKR-Bold.otf), url(../fonts/notosans/NotoSansKR-Bold.woff), url(../fonts/notosans/NotoSansKR-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "samsung";
  src: url(../fonts/samsungsans/samsungsharpsans.woff2) format("woff2"), url(../fonts/samsungsans/samsungsharpsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "samsung";
  src: url(../fonts/samsungsans/samsungsharpsans-medium.woff2) format("woff2"), url(../fonts/samsungsans/samsungsharpsans-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "samsung";
  src: url(../fonts/samsungsans/samsungsharpsans-bold.woff2) format("woff2"), url(../fonts/samsungsans/samsungsharpsans-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/**
 * Swiper 11.0.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 25, 2023
 */
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
#wrap:before,
#wrap:after {
  content: none;
}

html, body {
  height: auto;
}

.offering-main .pop-card__link, .offering-main .media-card__link, .offering-main .image-card__link, .offering-main .border-box__link, .offering-main .thumbnail-list__link, .offering-main .offering-media-card__link, .offering-main .offering-card__link, .offering-main .offering-content__header-link {
  display: inline-flex;
  gap: 11px;
  align-items: center;
  padding-right: 14px;
  font-size: 16px;
  font-weight: 700;
  color: #2189FF;
}
.offering-main .pop-card__link::after, .offering-main .media-card__link::after, .offering-main .image-card__link::after, .offering-main .border-box__link::after, .offering-main .thumbnail-list__link::after, .offering-main .offering-media-card__link::after, .offering-main .offering-card__link::after, .offering-main .offering-content__header-link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 2px;
  width: 7.5px;
  height: 13.3px;
  mask: url(../images/offering/icon_offering_arrow_link.svg) 50% 50% no-repeat;
  mask-size: auto 100%;
  background: #2189FF;
  transition: transform 0.4s ease;
}
.offering-main .pop-card__link:focus::after, .offering-main .media-card__link:focus::after, .offering-main .image-card__link:focus::after, .offering-main .border-box__link:focus::after, .offering-main .thumbnail-list__link:focus::after, .offering-main .offering-media-card__link:focus::after, .offering-main .offering-card__link:focus::after, .offering-main .offering-content__header-link:focus::after, .offering-main .pop-card__link:hover::after, .offering-main .media-card__link:hover::after, .offering-main .image-card__link:hover::after, .offering-main .border-box__link:hover::after, .offering-main .thumbnail-list__link:hover::after, .offering-main .offering-media-card__link:hover::after, .offering-main .offering-card__link:hover::after, .offering-main .offering-content__header-link:hover::after {
  transform: translateX(2px);
}

.offering-main {
  line-height: 1.6;
}
.offering-main#container {
  overflow: visible;
}
.offering-main .uppercase {
  text-transform: uppercase;
}
.offering-main .color-blue {
  color: #0069FF;
}
.offering-main .brity-works {
  --hero-background: linear-gradient(180deg, #D8E3FF 0%, #F7F9FE 100%);
  --main-font-color: #000;
  --sub-font-color: #666;
  --primary-button-bg:#1778EA;
  --primary-button-color:#fff;
  --primary-button-border:#1778EA;
  --secondary-button-bg:#fff;
  --secondary-button-color:#333;
  --secondary-button-border:#CCC;
}
.offering-main .brity-gov {
  --hero-background: linear-gradient(105.73deg, #0A0D6E 6.2%, #0442B6 97.02%);
  --main-font-color: #fff;
  --sub-font-color: #fff;
  --primary-button-bg:#fff;
  --primary-button-color:#333;
  --primary-button-border:#CCC;
  --secondary-button-bg:#1778EA;
  --secondary-button-color:#fff;
}
.offering-main .brity-auto {
  --hero-background: #000;
  --main-font-color: #fff;
  --sub-font-color: #fff;
  --primary-button-bg:#1778EA;
  --primary-button-color:#fff;
  --primary-button-border:#1778EA;
  --secondary-button-bg:#fff;
  --secondary-button-color:#333;
  --secondary-button-border:#CCC;
}
.offering-main .scp {
  --hero-background: #000;
  --main-font-color: #fff;
  --sub-font-color: #fff;
  --primary-button-bg:#1778EA;
  --primary-button-color:#fff;
  --primary-button-border:#1778EA;
  --secondary-button-bg:#fff;
  --secondary-button-color:#333;
  --secondary-button-border:#CCC;
}
.offering-main .fabrix {
  --hero-background: #fff;
  --main-font-color: #000;
  --sub-font-color: #666;
  --primary-button-bg:#1778EA;
  --primary-button-color:#fff;
  --primary-button-border:#1778EA;
  --secondary-button-bg:#fff;
  --secondary-button-color:#333;
  --secondary-button-border:#CCC;
}
.offering-main .breadcrumb {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  max-width: 1920px;
  width: 100%;
  transform: translateX(-50%);
  padding-top: 70px;
}
.offering-main .breadcrumb__list {
  padding: 12px 10px;
}
.offering-main .breadcrumb__current {
  color: var(--main-font-color);
}
.offering-main .breadcrumb.color-white {
  color: #fff;
}
.offering-main .breadcrumb.color-white .breadcrumb__link {
  color: #fff;
}
.offering-main .breadcrumb.color-white .breadcrumb__item::before {
  color: #fff;
}
.offering-main .offering-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: var(--hero-background);
}
.offering-main .offering-hero__bg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.offering-main .offering-hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-left: -50%;
}
.offering-main .offering-hero__content {
  max-width: 1358px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.offering-main .offering-hero__heading {
  padding-top: 48px;
}
.offering-main .offering-hero__label {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--main-font-color);
}
.offering-main .offering-hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offering-main .offering-hero__text {
  margin-top: 16px;
  font-size: 70px;
  color: var(--main-font-color);
  line-height: 1.5;
}
.offering-main .offering-hero__description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 36px;
  color: var(--sub-font-color);
}
.offering-main .offering-hero__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.offering-main .offering-hero__buttons .offering-hero__button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
}
.offering-main .offering-hero__buttons .offering-hero__button.primary {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
  border-color: var(--primary-button-border);
}
.offering-main .offering-hero__buttons .offering-hero__button.secondary {
  background-color: var(--secondary-button-bg);
  color: var(--secondary-button-color);
  border-color: var(--secondary-button-border);
}
.offering-main .offering-hero__about {
  margin-top: 80px;
}
.offering-main .offering-about {
  text-align: left;
  display: flex;
  padding: 60px 80px;
  gap: 80px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.offering-main .offering-about__header {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
.offering-main .offering-about__label {
  font-size: 16px;
  font-weight: 400;
  color: #222;
}
.offering-main .offering-about__title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #1778EA;
}
.offering-main .offering-about__sub-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  color: #222;
}
.offering-main .offering-about__text {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}
.offering-main .offering-about__keys {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
}
.offering-main .offering-about__key {
  display: inline-flex;
  align-items: center;
  height: 40px;
  border-radius: 40px;
  background: rgba(36, 85, 197, 0.04);
  font-size: 14px;
  color: #2189FF;
  font-weight: 700;
  padding: 8px 20px;
}
.offering-main .offering-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow-x: clip;
}
.offering-main .offering-nav {
  flex: 1;
  position: sticky;
  top: 70px;
  z-index: 5;
  padding-top: 50px;
  width: 100%;
  max-width: 96px;
}
.offering-main .offering-nav__title {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.offering-main .offering-nav__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 10px;
}
.offering-main .offering-nav__list-item {
  font-size: 10px;
}
.offering-main .offering-nav__link {
  display: block;
  position: relative;
  padding-left: 13px;
  color: rgba(0, 0, 0, 0.2509803922);
  transition: all 0.3s ease;
}
.offering-main .offering-nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 7px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.offering-main .offering-nav__link.is-current {
  color: #000000;
}
.offering-main .offering-nav__link.is-current::before {
  background-color: #000000;
}
.offering-main .offering-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1318px;
  margin: 0 auto;
  transform: translateX(-48px);
}
.offering-main .offering-content {
  position: relative;
  padding: 150px 0;
}
.offering-main .offering-content__header {
  text-align: center;
  margin-bottom: 80px;
}
.offering-main .offering-content__header.align-left {
  text-align: left;
}
.offering-main .offering-content__header:has(.offering-content__header-link) {
  position: relative;
}
.offering-main .offering-content__header:has(.text-28) {
  margin-bottom: 60px;
}
.offering-main .offering-content__header.header-sm {
  margin-bottom: 40px;
}
.offering-main .offering-content__header.header-sm .offering-content__title {
  font-size: 28px;
}
.offering-main .offering-content__header .dotted-list {
  margin-top: 16px;
}
.offering-main .offering-content__header .dotted-list__item::before {
  background: #1778EA;
}
.offering-main .offering-content__header .dotted-list__label {
  display: inline-block;
  width: 99px;
  color: #1778EA;
}
.offering-main .offering-content__sub-title {
  font-size: 28px;
  color: #000;
  font-weight: 500;
}
.offering-main .offering-content__label {
  margin-bottom: 16px;
  font-size: 16px;
  color: #2189FF;
  line-height: 1.5;
  font-weight: 700;
}
.offering-main .offering-content__label.rounded {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding: 0 32px;
  border-radius: 48px;
  box-shadow: 0px 2px 10px 0px rgba(112, 124, 242, 0.24);
}
.offering-main .offering-content__title {
  font-size: 48px;
  color: #000;
  line-height: 1.5;
  letter-spacing: -2%;
}
.offering-main .offering-content__title.text-28 {
  font-size: 28px;
}
.offering-main .offering-content__description {
  margin-top: 16px;
  font-size: 24px;
  color: #666;
  line-height: 1.6;
}
.offering-main .offering-content__description.color-black {
  color: #000;
}
.offering-main .offering-content__optional {
  margin-top: 80px;
  text-align: center;
}
.offering-main .offering-content__optional-text {
  font-size: 40px;
  color: #1778EA;
  font-weight: 700;
}
.offering-main .offering-content__optional-title {
  font-size: 24px;
  color: #333;
  font-weight: 400;
}
.offering-main .offering-content__optional-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}
.offering-main .offering-content__optional-buttons .offering-button {
  padding: 14px 32px;
  font-size: 22px;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
}
.offering-main .offering-content__optional-buttons .offering-button.primary {
  background-color: #1778EA;
  color: #fff;
  border-color: #1778EA;
}
.offering-main .offering-content__optional-buttons .offering-button.secondary {
  display: flex;
  background-color: #fff;
  color: #333;
  border-color: #000;
}
.offering-main .offering-content__optional-buttons .offering-button.secondary .icon-download {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  mask: url(../images/offering/icon_offering_download.svg) 50% 50% no-repeat;
  mask-size: auto 100%;
  background: #000;
}
.offering-main .offering-content__optional-sub-text {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 16px;
  color: #888;
}
.offering-main .offering-content__optional-sub-text::before {
  content: "*";
  position: relative;
  top: 4px;
  margin-right: 6px;
}
.offering-main .offering-content__header-link {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
}
.offering-main .offering-content__header-link::after {
  background: #000;
}
.offering-main .offering-content.collapse-header .offering-content__header {
  text-align: left;
  margin-bottom: 0;
}
.offering-main .offering-content.collapse-header .offering-content__title {
  font-size: 28px;
}
.offering-main .offering-content.overflow-hidden {
  overflow: hidden;
}
.offering-main .offering-content.bg-light-blue:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  transform: translateX(-50%);
  background: #F7F9FE;
}
.offering-main .offering-content.bg-sky-blue:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  transform: translateX(-50%);
  background: #E9F5FF;
}
.offering-main .offering-content.bg-light-gray:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  transform: translateX(-50%);
  background: #F5F6F7;
}
.offering-main .offering-grid {
  display: grid;
}
.offering-main .offering-grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}
.offering-main .offering-grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.offering-main .offering-grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.offering-main .offering-grid.overflow-visible .offering-grid__item {
  overflow: visible;
}
.offering-main .offering-grid__item {
  overflow: hidden;
}
.offering-main .offering-grid__item:has(.additional-image) {
  position: relative;
}
.offering-main .offering-grid__item .offering-card__text {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.offering-main .offering-grid__item.fixed-height {
  height: 449px;
}
.offering-main .offering-grid__item.fixed-height .offering-grid__inner {
  height: 100%;
}
.offering-main .offering-grid__item.span-2 {
  grid-column: span 2;
}
.offering-main .offering-grid__item.span-2 .offering-grid__inner {
  width: calc(50% - 13px);
}
.offering-main .offering-grid__item.span-2 .additional-image {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% + 13px);
  height: 100%;
}
.offering-main .offering-grid__item.span-2 .additional-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offering-main .offering-grid__item.span-2:has(.additional-image) {
  border: 1px solid #ddd;
  border-radius: 16px;
}
.offering-main .offering-grid__item.span-2:has(.additional-image) .offering-grid__inner {
  border: 0;
  border-radius: 0;
}
.offering-main .offering-grid__inner {
  height: 100%;
  padding: 40px;
  border-radius: 16px;
}
.offering-main .offering-grid__inner.bg-blue {
  background: #3566D8;
}
.offering-main .offering-grid__inner.bg-blue .simple-card__title {
  color: #fff;
}
.offering-main .offering-grid__inner.bg-blue .simple-card__description {
  color: #fff;
}
.offering-main .offering-grid__inner.bg-white {
  background: #fff;
}
.offering-main .offering-grid__inner.bg-white:has(.check-icon-list) {
  padding: 40px;
}
.offering-main .offering-grid__inner.bg-white:has(.check-icon-list) .offering-grid__inner {
  overflow: hidden;
  height: 100%;
  padding: 0;
  border-radius: 12px;
}
.offering-main .offering-grid__inner.bg-white:has(.check-icon-list) .check-icon-list {
  height: 100%;
  padding: 20px;
  background: #F1F5FF;
}
.offering-main .offering-grid.bg-blue .offering-grid__item {
  background: #3566D8;
}
.offering-main .simple-card {
  position: relative;
}
.offering-main .simple-card__title {
  font-size: 28px;
  font-weight: 700;
}
.offering-main .simple-card__description {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
}
.offering-main .simple-card__icon {
  position: absolute;
  left: 162px;
  bottom: 0;
  width: 260px;
  height: 170px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.offering-main .simple-card.img-card {
  position: relative;
  height: 450px;
}
.offering-main .offering-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
}
.offering-main .offering-card__content {
  display: flex;
  flex-direction: column;
  height: 256px;
  align-items: flex-start;
}
.offering-main .offering-card__icon {
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.offering-main .offering-card__title {
  margin-bottom: 8px;
  font-size: 24px;
  color: #000;
}
.offering-main .offering-card__description {
  font-size: 20px;
  color: #333;
}
.offering-main .offering-card__link {
  margin-top: auto;
}
.offering-main .offering-card__link.color-black {
  color: #000;
}
.offering-main .offering-card__link.color-black::after {
  background: #000;
}
.offering-main .offering-card__image {
  width: 100%;
}
.offering-main .offering-card__image img {
  width: 100%;
  object-fit: cover;
}
.offering-main .offering-card.bottom-icon {
  gap: 28px;
}
.offering-main .offering-card.bottom-icon .offering-card__content {
  height: auto;
}
.offering-main .offering-card.bottom-icon .offering-card__title {
  font-size: 28px;
  word-break: break-all;
}
.offering-main .offering-card.bottom-icon .offering-card__description {
  font-weight: 700;
  color: #666;
  word-break: break-all;
}
.offering-main .offering-card.bottom-icon .offering-card__image {
  width: 200px;
  margin: auto auto 0;
}
.offering-main .offering-card.bottom-icon .offering-card__link {
  margin-top: 28px;
}
.offering-main .border-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #DDD;
}
.offering-main .border-card__title {
  margin-bottom: 8px;
  font-size: 32px;
  color: #000;
}
.offering-main .border-card__title-sub {
  margin-bottom: 20px;
  font-size: 20px;
  color: #000;
}
.offering-main .border-card__description {
  font-size: 20px;
  color: #666;
}
.offering-main .border-card__header {
  min-height: 240px;
}
.offering-main .swiper-container {
  position: relative;
  padding-top: 70px;
}
.offering-main .swiper-container .swiper-control {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  gap: 40px;
}
.offering-main .swiper-container .swiper-control .swiper-control__button {
  width: 30px;
  height: 30px;
  border: 0;
  background: #000;
}
.offering-main .swiper-container .swiper-control .swiper-control__button:before {
  background: #fff;
}
.offering-main .swiper-container .offering-swiper-track {
  display: flex;
  align-items: center;
  gap: 6px;
}
.offering-main .swiper-container .offering-swiper-track-wrap {
  display: flex;
  position: relative;
  width: 48px;
  height: 2px;
  background: #CCC;
}
.offering-main .swiper-container .offering-swiper-track-fill {
  width: 0;
  height: 2px;
  background: #000;
  transition: all 5s linear;
}
.offering-main .swiper-container .offering-swiper-num {
  font-size: 14px;
  color: #888;
  font-weight: 700;
}
.offering-main .swiper-container .offering-swiper-num.current {
  color: #000;
}
.offering-main .check-icon-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  border-radius: 12px;
}
.offering-main .check-icon-list__item {
  position: relative;
  padding-left: 34px;
  font-size: 20px;
  color: #000;
}
.offering-main .check-icon-list__item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 3px;
  background: url(../images/offering/icon_offering_check.png) 0 0 no-repeat;
  background-size: 100%;
}
.offering-main .offering-media-card {
  display: flex;
  flex-direction: column;
}
.offering-main .offering-media-card__image {
  margin-bottom: 80px;
}
.offering-main .offering-media-card__label {
  font-size: 20px;
  color: #1778EA;
  margin-bottom: 16px;
}
.offering-main .offering-media-card__title {
  font-size: 28px;
  color: #000;
  margin-bottom: 24px;
}
.offering-main .offering-media-card__description {
  font-size: 20px;
  color: #666;
  margin-bottom: 24px;
}
.offering-main .offering-media-card__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0;
}
.offering-main .offering-media-card__list-item {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  color: #000;
}
.offering-main .offering-media-card__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  background: url(../images/offering/icon_offering_check_black.png) 50% 50% no-repeat;
  background-size: 100% auto;
}
.offering-main .offering-media-card__link {
  margin-top: 24px;
}
.offering-main .offering-media-card--horizontal {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.offering-main .offering-media-card--horizontal .offering-media-card__image {
  width: 687px;
  flex: none;
  margin-bottom: 0;
}
.offering-main .offering-media-card--horizontal.lg-image .offering-media-card__title {
  font-size: 20px;
}
.offering-main .offering-media-card--horizontal.lg-image .offering-media-card__description {
  font-size: 16px;
}
.offering-main .offering-media-card--horizontal.lg-image .offering-media-card__image {
  width: 780px;
}
.offering-main .offering-media-card--horizontal:has(.expand-content) {
  align-items: unset;
  gap: 0;
  width: 464px;
  overflow: hidden;
  transition: all 0.2s linear;
}
.offering-main .offering-media-card--horizontal:has(.expand-content) .expand-content__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 464px;
  overflow: hidden;
  height: 100%;
  padding: 24px;
}
.offering-main .offering-media-card--horizontal:has(.expand-content) .expand-content__inner .offering-media-card__link {
  margin-top: auto;
  width: auto;
  padding: 12px 20px;
  background: #fff;
  font-size: 16px;
  color: #888;
  font-weight: 700;
}
.offering-main .offering-media-card--horizontal:has(.expand-content) .expand-content__inner .offering-media-card__link::after {
  content: none;
}
.offering-main .offering-media-card--horizontal:has(.expand-content) .offering-media-card__image {
  width: 464px;
}
.offering-main .offering-media-card--horizontal:has(.expand-content) .offering-media-card__content {
  width: 100%;
  max-width: 0;
  transition: max-width 0.2s linear;
}
.offering-main .offering-media-card--horizontal:has(.expand-content).swiper-slide-active {
  width: 952px;
  gap: 24px;
}
.offering-main .offering-media-card--horizontal:has(.expand-content).swiper-slide-active .offering-media-card__content {
  width: 464px;
  max-width: 464px;
}
.offering-main .offering-media-card--sm {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.offering-main .offering-media-card--sm .offering-media-card__image {
  flex: none;
  width: 100%;
  max-width: 564px;
  margin-bottom: 0;
}
.offering-main .offering-media-card--sm .offering-media-card__content {
  width: 100%;
}
.offering-main .offering-media-card.row-reverse {
  flex-direction: row-reverse;
}
.offering-main .collapse-header .swiper-container {
  margin-top: -42px;
  padding-top: 116px;
}
.offering-main .collapse-header .swiper-container.pt-60 {
  padding-top: 96px;
}
.offering-main .title-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.offering-main .title-list__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.offering-main .title-list__title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  color: #000;
}
.offering-main .title-list__title::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/offering/icon_offering_check_black.png) 50% 50% no-repeat;
  background-size: 100% auto;
}
.offering-main .rounded-box {
  display: flex;
  gap: 50px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 16px;
}
.offering-main .rounded-box__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.offering-main .rounded-box__item.wide {
  flex: 1.5;
}
.offering-main .rounded-box__item ~ .rounded-box__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  width: 1px;
  height: auto;
  background: #DDD;
}
.offering-main .rounded-box__image {
  margin-bottom: 16px;
}
.offering-main .rounded-box__title {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin-bottom: 4px;
}
.offering-main .rounded-box__description {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}
.offering-main .rounded-box.text-center {
  text-align: center;
}
.offering-main .board-grid {
  border: 1px solid #ddd;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.offering-main .board-grid__label {
  color: #2189FF;
  font-size: 16px;
  margin-bottom: 16px;
}
.offering-main .board-grid__category {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.offering-main .board-grid__link {
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}
.offering-main .board-grid__date {
  margin-top: 40px;
  font-size: 16px;
  color: #888;
}
.offering-main .dashed-column {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.offering-main .dashed-column__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 48px;
}
.offering-main .dashed-column__item ~ .dashed-column__item {
  border-top: 2px dashed #ddd;
}
.offering-main .dashed-column__title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}
.offering-main .dashed-column .star-list {
  margin-top: 24px;
}
.offering-main .pricing-list {
  display: flex;
  flex-direction: column;
  position: relative;
}
.offering-main .pricing-list__inner {
  height: 100%;
}
.offering-main .pricing-list__header {
  padding: 34px 24px 24px;
  border-bottom: 1px solid #DDD;
  text-align: center;
}
.offering-main .pricing-list__header.line-2 {
  padding: 24px;
}
.offering-main .pricing-list__body {
  border-bottom: 1px solid #DDD;
  text-align: center;
  padding: 32px 24px;
}
.offering-main .pricing-list__footer {
  padding: 24px 24px 36px;
}
.offering-main .pricing-list__split {
  display: flex;
}
.offering-main .pricing-list__split-item {
  flex: 1;
}
.offering-main .pricing-list__split-item ~ .pricing-list__split-item {
  border-left: 1px solid #ccc;
}
.offering-main .pricing-list__name {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.offering-main .pricing-list__price {
  height: 94px;
  text-align: center;
}
.offering-main .pricing-list__price .price__text {
  font-family: "samsung", "Noto Sans KR", sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 700;
}
.offering-main .pricing-list__price .price__period {
  font-size: 16px;
  color: #666;
}
.offering-main .pricing-list__price .price .color-blue {
  color: #1778EA;
}
.offering-main .pricing-list__detail {
  height: 112px;
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}
.offering-main .pricing-list__tooltip {
  display: flex;
  align-items: center;
  position: absolute;
  top: -16px;
  left: 15px;
  height: 36px;
  padding: 0 20px;
  border-radius: 36px;
  background: #1778EA;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.offering-main .pricing-list__tooltip::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 7px;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 7'%3E%3Cpath d='M4.41639 6.08434C4.06935 6.68543 3.20175 6.68543 2.85471 6.08434L0.121759 1.35073C-0.225282 0.749638 0.208519 -0.00172839 0.902601 -0.00172845L6.3685 -0.00172893C7.06258 -0.00172899 7.49638 0.749637 7.14934 1.35073L4.41639 6.08434Z' fill='%231778EA'/%3E%3C/svg%3E") 0 0 no-repeat;
  mask-size: auto 100%;
  background: #1778EA;
}
.offering-main .pricing-list.split-header .pricing-list__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
.offering-main .pricing-list.split-header .pricing-list__header:has(.pricing-list__split) {
  padding: 9px 0 0;
}
.offering-main .pricing-list.split-header .pricing-list__header .pricing-list__split {
  width: 100%;
  margin-top: auto;
  border-top: 1px solid #ddd;
}
.offering-main .pricing-list.split-header .pricing-list__header .pricing-list__split-item {
  padding: 11px 24px;
  text-align: center;
}
.offering-main .pricing-list::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
}
.offering-main .pricing-list.recommend-plan::before {
  border-width: 4px;
  border-color: #1778EA;
}
.offering-main .dotted-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.offering-main .dotted-list__item {
  position: relative;
  padding-left: 12px;
  font-size: 16px;
  color: #333;
}
.offering-main .dotted-list__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #333;
}
.offering-main .star-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.offering-main .star-list__item {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  color: #666;
}
.offering-main .star-list__item::before {
  content: "";
  width: 18px;
  height: 28px;
  mask: url(../images/offering/icon_offering_star.svg) 50% 50% no-repeat;
  mask-size: 6px auto;
  background: #666;
}
.offering-main .offering-faq .contact-us-faq__question-mark,
.offering-main .offering-faq .contact-us-faq__answer-mark {
  margin-right: 16px;
}
.offering-main .contact-banner {
  margin-top: 0 !important;
}
.offering-main .thumbnail-list {
  display: flex;
  flex-direction: column;
}
.offering-main .thumbnail-list__item {
  width: 100%;
  display: flex;
  gap: 38px;
  padding-bottom: 32px;
}
.offering-main .thumbnail-list__item ~ .thumbnail-list__item {
  padding-top: 32px;
  border-top: 1px solid #D9D9D9;
}
.offering-main .thumbnail-list__image {
  flex: none;
  width: 307px;
}
.offering-main .thumbnail-list__content {
  overflow: hidden;
  width: calc(100% - 307px);
}
.offering-main .thumbnail-list__title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
}
.offering-main .thumbnail-list__text {
  height: 81px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 18px;
  color: #666;
  width: 100%;
}
.offering-main .border-box {
  display: flex;
  flex-direction: column;
  min-height: 220px;
  position: relative;
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 12px;
}
.offering-main .border-box__header {
  margin-bottom: 8px;
  font-size: 22px;
  color: #000;
}
.offering-main .border-box__description {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  opacity: 0.7;
}
.offering-main .border-box__link {
  margin-top: auto;
  font-size: 12px;
  color: #666;
}
.offering-main .border-box__link::after {
  top: 1px;
  height: 11px;
  background: #666;
}
.offering-main .border-box__icon {
  position: absolute;
  right: 32px;
  bottom: 32px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.offering-main .border-box.sm-box {
  min-height: 196px;
}
.offering-main .border-row-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offering-main .border-row-list__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 28px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 16px;
}
.offering-main .border-row-list__image {
  flex: none;
  width: 200px;
}
.offering-main .border-row-list__content {
  width: 100%;
}
.offering-main .border-row-list__title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
}
.offering-main .border-row-list__description {
  margin-bottom: 24px;
  font-size: 20px;
  color: #666;
  font-weight: 700;
}
.offering-main .border-row-list .dotted-list {
  gap: 16px;
}
.offering-main .media-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.offering-main .media-list--box {
  gap: 40px;
}
.offering-main .media-list--box .offering-media-card {
  gap: 80px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 16px;
}
.offering-main .media-list--box .offering-media-card__image {
  width: 200px;
}
.offering-main .media-list--box .offering-media-card__description {
  margin-bottom: 0;
}
.offering-main .image-card {
  overflow: hidden;
  padding: 0;
  border: 1px solid #DDD;
  border-radius: 20px;
}
.offering-main .image-card__image img {
  object-fit: cover;
}
.offering-main .image-card__content {
  padding: 40px;
}
.offering-main .image-card__label {
  display: inline-flex;
  align-items: center;
  height: 32px;
  margin-bottom: 8px;
  padding: 0 16px;
  border-radius: 32px;
  background: #000;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}
.offering-main .image-card__title {
  margin-bottom: 24px;
  font-size: 28px;
  color: #000;
  font-weight: 700;
}
.offering-main .image-card__description {
  height: 56px;
  font-size: 18px;
  color: #666;
}
.offering-main .image-card__link-list {
  margin-top: 24px;
}
.offering-main .image-card .time-save {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
  font-size: 20px;
}
.offering-main .image-card .time-save__time {
  font-size: 40px;
  color: #1778EA;
  font-weight: 700;
}
.offering-main .image-card .time-save__save {
  font-size: 16px;
  color: #666;
}
.offering-main .offering-table {
  border: 1px solid #ddd;
  border-left: 0;
}
.offering-main .offering-table__table {
  width: 100%;
}
.offering-main .offering-table__th {
  height: 80px;
  border-left: 1px solid #ddd;
  background: #F9FAFC;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.offering-main .offering-table__th.bg-blue {
  background: #1878FF;
  color: #fff;
}
.offering-main .offering-table__th.bg-black {
  background: #000;
  color: #fff;
}
.offering-main .offering-table__td {
  min-height: 80px;
  padding: 20px 30px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}
.offering-main .media-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offering-main .media-card__image {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
.offering-main .media-card__content {
  padding: 0 8px 52px;
}
.offering-main .media-card__title {
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 28px;
  color: #000;
  font-weight: 700;
}
.offering-main .media-card__description {
  height: 84px;
  font-size: 18px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 18px;
}
.offering-main .media-card__link {
  margin-top: 24px;
}
.offering-main .pop-card {
  position: relative;
  padding-bottom: 200px;
}
.offering-main .pop-card__image {
  overflow: hidden;
}
.offering-main .pop-card__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 48px);
  height: 256px;
  padding: 24px 24px 24px 80px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
}
.offering-main .pop-card__title {
  font-size: 28px;
  color: #000;
}
.offering-main .pop-card__description {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: 18px;
}
.offering-main .pop-card__link {
  margin-top: auto;
}
.offering-main .pop-card__link::after {
  height: 12px;
}
.offering-main .pop-card__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  left: 24px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #000;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  font-style: normal;
}
.offering-main .pop-card:hover .pop-card__content {
  height: calc(100% - 24px);
  width: calc(100% + 4px);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
}
.offering-main .pop-card:hover .pop-card__description {
  -webkit-line-clamp: unset;
}
.offering-main .febrix-flow {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.offering-main .febrix-flow__image.image-top {
  width: 768px;
  margin: 0 auto;
}
.offering-main .febrix-flow__image.image-bottom {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}
.offering-main .badge-list {
  display: flex;
  justify-content: space-between;
}
.offering-main .badge-list__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.offering-main .badge-list__badge {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 28px;
  border-radius: 48px;
  box-shadow: 0px 2px 10px 0px rgba(112, 124, 242, 0.24);
  background: #fff;
  font-size: 16px;
  font-weight: 700;
}
.offering-main .badge-list__text {
  font-size: 20px;
  color: #666;
  font-weight: 500;
}
.offering-main .shadow-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offering-main .shadow-box__item {
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}
.offering-main .shadow-box__title {
  margin-bottom: 32px;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.offering-main .shadow-box__content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.offering-main .shadow-box__image {
  flex: none;
  width: 662px;
}
.offering-main .shadow-box__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.offering-main .shadow-box__text {
  font-size: 16px;
  color: #666;
  font-weight: 400;
}
.offering-main .shadow-box .num {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  border-radius: 100%;
  background: #000;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  font-weight: 700;
}
.offering-main [data-rise],
.offering-main [data-rise-step] {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.offering-main [data-rise].riseup,
.offering-main [data-rise-step].riseup {
  transform: translateY(0);
  opacity: 1;
}