<div class="inner">
    <!-- sitemap -->
    <div class="f_menu">
        <div class="etc_top show_t">
            <a href="#skip_navi"><span>위로</span></a>
        </div>
        <div class="f_mwrap w1">
            <p class="f_t7 ftl"><a href="/kr/all-offerings/solutions_off_all.html"><strong>모든 오퍼링 보기</strong></a></p>
            <!--모든 오퍼링 보기-->
            
            <p class="f_t7 ftl"><a href="/kr/etc/sitemap/foot_sitemap.html"><strong>사이트맵</strong></a></p>
            <!--사이트맵-->
            <p class="f_t7 ftl"><a href="/kr/cloud-glossary/cloud-glossary.html"><strong>클라우드 용어집</strong></a></p>
        </div>
        <div class="f_mwrap w1">
            <p class="f_t1 ftm"><a href="#"><strong>회사정보</strong></a></p>
            <div class="in">
                <ul>
                    <li><a href="/kr/company/overview/about_comp_over.html">회사소개</a></li>
                    <li><a href="/kr/notice/notice_list.html">공지사항</a></li>
                    <li><a href="/kr/careers/overview/about_care_over.html">채용</a></li>
                    <li><a href="/kr/company/award/award.html">Awards & Recognition</a></li>
                </ul>
            </div>
        </div>
        <div class="f_mwrap w1">
            <p class="f_t1 ftm"><a href="#"><strong>SDS NOW</strong></a></p>
            <div class="in">
                <ul>
                    <li><a href="/kr/insights/index.html">인사이트리포트</a></li>
                    <!--인사이트리포트-->
                    <li><a href="/kr/news/index.html">언론보도</a></li>
                    <!--언론보도-->
                    <li><a href="/kr/event/index.html">이벤트</a></li>
                    <!--삼성SDS 이벤트-->
                </ul>
            </div>
        </div>
        <div class="f_mwrap w1">
            <p class="f_t1 ftm"><a href="#"><strong>고객지원</strong></a></p>
            <div class="in">
                <ul>
                    <li><a href="/kr/etc/contact/contactus-gatepage.html" target="_blank" title="새창열림">문의하기</a></li>
                    <li><a href="https://support.samsungsds.com/index.html?langCd=KO" target="_blank" title="새창열림">기술지원</a></li>
                    <li><a href="/kr/etc/contact/security.html">보안신고센터</a></li>
                    <li><a href="/kr/etc/contact/privacy_violation.html">개인정보침해신고</a></li>
                    <li><a href="/kr/etc/contact/foot_report_form.html">제보하기</a></li>
                    <li><a href="/kr/etc/license/index.html">라이선스</a></li>
                </ul>
            </div>
        </div>
        <div class="f_mwrap w1">
            <p class="f_t1 ftm"><a href="#"><strong>채널 파트너</strong></a></p>
            <div class="in">
                <ul>
                    <li><a href="https://partnerhub.samsungsds.com/s/?language=ko" target="_blank" title="새창열림" class="link_ico">파트너 허브</a></li>
                </ul>
            </div>
        </div>
        <!-- Family Site -->
        <div class="f_mwrap w2">
            <div class="etc_drop">
                <p class="f_t1 ftm">
                    <a href="#">패밀리사이트</a>
                </p>
                <div class="in is_two">
                    <ul>
                        <li><strong>자회사</strong></li>
                        <li><a href="http://www.multicampus.com/" target="_blank">멀티캠퍼스<span class="ico"></span></a></li>
                        <li><a href="https://miracom-inc.com " target="_blank">미라콤아이앤씨<span class="ico"></span></a></li>
                        <li><a href="http://s-core.co.kr/" target="_blank">에스코어<span class="ico"></span></a></li>
                        <li><a href="https://www.secui.com/" target="_blank">시큐아이<span class="ico"></span></a></li>
                        <li><a href="http://www.emro.co.kr/index.html" target="_blank">엠로<span class="ico"></span></a></li>
                    </ul>
                    <ul>
                        <li><strong>비지니스</strong></li>												
												<li><a href="https://www.brityworks.com/aboutapp/" target="_blank">Brity Works<span class="ico"></span></a></li>
												<li><a href="https://www.cello-square.com/kr/index.do" target="_blank">Cello Square<span class="ico"></span></a></li>
												<li><a href="https://cloud.samsungsds.com/serviceportal/index.html" target="_blank">Samsung Cloud Platform <span class="ico"></span></a></li>
												<li><a href="https://www.brightics.ai/" target="_blank">Samsung SDS Brightics AI <span class="ico"></span></a></li>
												<li><a href="https://www.samsung070.com/" target="_blank">Samsung Wyz070<span class="ico"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="etc_top hide_t">
                <a href="#skip_navi"><span>위로</span></a>
            </div>
        </div>
        <!-- //Family Site -->
    </div>
    <!-- //sitemap -->
    <!-- copyright -->
    <div class="f_etc">
        <div class="f_etc_left">
            <!-- f_cont_wrap -->
            <div class="f_cont_wrap show_t">
                <div class="newsletter">
                    <a href="/kr/etc/contact/newsletter.html">뉴스레터 구독신청</a>
                </div>
                <ul class="f_cnt show_t">
                  <li class="sns s2">
                    <a href="https://www.linkedin.com/company/samsung-sds" target="_blank" title="새창열림" class="sr_only">
                        <span role="text" class="blind">LinkedIn</span>
                    </a>
                </li>
                  <li class="sns s3">
                    <a href="https://www.facebook.com/samsungsds" target="_blank" title="새창열림" class="sr_only">
                        <span class="blind" role="text">facebook</span>
                    </a>
                  </li>
                  <li class="sns s6">
                    <a href="https://twitter.com/samsungsds" target="_blank" title="새창열림" class="sr_only">
                        <span class="blind" role="text">twitter</span>
                    </a>
                </li>
                  <li class="sns s9">
                    <a href="https://www.instagram.com/samsung.sds" target="_blank" title="새창열림" class="sr_only">
                        <span class="blind" role="text">instagram</span>
                    </a>
                </li>
                  <li class="sns s1">
                    <a href="https://www.youtube.com/samsungsds" target="_blank" title="새창열림" class="sr_only">
                        <span class="blind" role="text">youtube</span>
                    </a>
                </li>
                  <li class="sns s4">
                    <a href="https://blog.naver.com/post6155" target="_blank" title="새창열림" class="sr_only">
                        <span class="blind" role="text">post</span>
                    </a>
                </li>
                </ul>
            </div>
            <!-- //f_cont_wrap -->
            <div class="etc_lang show_t">
                <a href="#">Korea / <span class="ko">한국어</span></a>
                <div class="sub_menu">
                    <span class="dimd"></span>
                    <div class="mb_inner">
                        <strong class="tit_s">지역/언어를 선택해주세요.</strong>
                        <ul>
    <li class="on"><a href="https://www.samsungsds.com/kr/index.html" target="_blank" title="New Window">Korea / <span class="ko">한국어</span></a></li>
    <li><a href="https://www.samsungsds.com/ap/index.html" target="_blank" title="New Window">APAC / English</a></li> 
    <li><a href="https://www.samsungsds.com.cn/cn/index.html" target="_blank" title="New Window">China / <span class="ch">中文</span></a></li>
    <li><a href="https://www.samsungsds.com/eu/index.html" target="_blank" title="New Window">Europe / English</a></li>
    <li><a href="https://www.samsungsds.com/en/index.html" target="_blank" title="New Window">Global / English</a></li>
    <li><a href="https://www.samsungsds.com/in/index.html" target="_blank" title="New Window">India/English</a></li>
    <li><a href="https://www.samsungsds.com/la/index.html" target="_blank" >Latin America/Português</a></li>
    <li><a href="https://www.samsungsds.com/us/index.html" target="_blank" title="New Window">USA / English</a></li>
	<li><a href="https://www.samsungsds.com/vn/index.html" target="_blank" title="New Window">Vietnam / Vietnamese</a></li>
	
</ul>
                        <button type="button" class="btn_pop_close"><i></i><span class="blind">닫기</span></button>
                    </div>
                </div>
            </div>
            <!-- etc_toggle : 210623 add -->
            <div class="etc_menu">
                <!-- p태그 → div로 변경 -->
                <div class="etc_toggle show_t">
                    <!-- MO : popup -->
                    <a href="#"><strong>개인정보처리방침</strong></a>
                    <div class="sub_menu">
                        <span class="dimd"></span>
                        <div class="mb_inner">
                            <strong class="tit_s">개인정보처리방침</strong>
                            <ul>
                                <li><a href="/kr/etc/privacy_policy/foot_privacy.html?queryString=20260615093951">닷컴 개인정보처리방침</a></li>
                                
                                <li><a href="/kr/etc/sns_privacy/sns_privacy_policy.html?queryString=20260615093951">소셜 미디어 개인정보처리방침</a></li>
                                <li><a href="/kr/etc/cctv/cctv.html?queryString=20260615093951">영상정보처리기기 운영&middot;관리 방침</a></li>
                            </ul>
                            <button type="button" class="btn_pop_close"><i></i><span class="blind">닫기</span></button>
                        </div>
                    </div>
                </div>
                <div class="etc_toggle hide_t">
                    <!-- PC : Select Box -->
                    <a href="#"><strong>개인정보처리방침</strong></a>
                    <div class="sub_menu hide_t">
                        <span class="dimd"></span>
                        <div class="pc_inner">
                            <ul>
                                <li><a href="/kr/etc/privacy_policy/foot_privacy.html?queryString=20260615093951">닷컴 개인정보처리방침</a></li>
                                
                                <li><a href="/kr/etc/sns_privacy/sns_privacy_policy.html?queryString=20260615093951">소셜 미디어 개인정보처리방침</a></li>
                                <li><a href="/kr/etc/cctv/cctv.html?queryString=20260615093951">영상정보처리기기 운영&middot;관리 방침</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="mark"></span>
                <a href="/kr/etc/contact/agree/foot_legal.html">이용약관</a>
                <span class="mark"></span>
                <a href="/kr/etc/contracts/support_contracts.html">서비스 이용약관</a>
                <span class="mark"></span>
                <a href="#" onClick="layerpop.showLayerPop('anti');" title="레이어 팝업 열림">이메일무단수집거부</a>
                <span class="mark"></span>
                <a href="#" onClick="layerpop.showLayerPop('ideaPolicy');" title="레이어 팝업 열림">아이디어 정책</a>
                <a href="http://www.webwatch.or.kr/Situation/WA_Situation.html?MenuCD=110" class="mark_acc" target="_blank" title="새창열림"><img class="access" src="https://image.samsungsds.com/resource/kr/images/icon/webwatch_mark.png" alt="과학기술정보통신부 WA(WEB접근성) 품질인증 마크,웹와치(WebWatch) 2026.06.14 ~ 2027.6.13" title="WA 품질인증 마크, 웹와치(WebWatch) 2026.6.14 ~ 2027.6.13"></a>
            </div><!-- p태그 → div로 변경 -->
            <!-- //etc_toggle : 210623 add -->
            <p class="etc_info">
                <span class="address">서울시 송파구 올림픽로 35길 125 삼성SDS (05510)</span>
            </p>
            <p class="copy">© SAMSUNG SDS. All rights reserved.</p>
        </div>
        <div class="f_etc_right hide_t">
            <div class="f_cont_wrap">
                <div class="newsletter">
                   <a href="/kr/etc/contact/newsletter.html">뉴스레터 구독신청</a>
                </div>
                <ul class="f_cnt">
                    <li class="sns s2"><a href="https://www.linkedin.com/company/samsung-sds" target="_blank" title="새창열림"><span class="ico"></span><strong role="text">LinkedIn</strong></a></li>
                    <li class="sns s3"><a href="https://www.facebook.com/samsungsds" target="_blank" title="새창열림"><span class="ico"></span><strong role="text">facebook</strong></a></li>
                    <li class="sns s6"><a href="https://twitter.com/samsungsds" target="_blank" title="새창열림"><span class="ico"></span><strong role="text">twitter</strong></a></li>
                    <li class="sns s9"><a href="https://www.instagram.com/samsung.sds" target="_blank" title="새창열림"><span class="ico"></span><strong role="text">instagram</strong></a></li>
                    <li class="sns s1"><a href="https://www.youtube.com/samsungsds" target="_blank" title="새창열림"><span class="ico"></span><strong role="text">youtube</strong></a></li>
                    <li class="sns s4"><a href="https://blog.naver.com/post6155" target="_blank" title="새창열림"><span class="ico"></span><strong role="text">post</strong></a></li>
                    
                </ul>
            </div>
            <div class="etc_lang">
                <a href="#" title="메뉴 열기">Korea / <span class="ko">한국어</span></a>
                <div class="sub_menu hide_t">
                    <span class="dimd"></span>
                    <div class="pc_inner">
                        <ul>
    <li class="on"><a href="https://www.samsungsds.com/kr/index.html" target="_blank" title="New Window">Korea / <span class="ko">한국어</span></a></li>
    <li><a href="https://www.samsungsds.com/ap/index.html" target="_blank" title="New Window">APAC / English</a></li> 
    <li><a href="https://www.samsungsds.com.cn/cn/index.html" target="_blank" title="New Window">China / <span class="ch">中文</span></a></li>
    <li><a href="https://www.samsungsds.com/eu/index.html" target="_blank" title="New Window">Europe / English</a></li>
    <li><a href="https://www.samsungsds.com/en/index.html" target="_blank" title="New Window">Global / English</a></li>
    <li><a href="https://www.samsungsds.com/in/index.html" target="_blank" title="New Window">India/English</a></li>
    <li><a href="https://www.samsungsds.com/la/index.html" target="_blank" >Latin America/Português</a></li>
    <li><a href="https://www.samsungsds.com/us/index.html" target="_blank" title="New Window">USA / English</a></li>
	<li><a href="https://www.samsungsds.com/vn/index.html" target="_blank" title="New Window">Vietnam / Vietnamese</a></li>
	
</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //copyright -->
  </div>
  <!-- layer -->
  <div class="layer_wrap pop_alert_ty" id="anti">
    <!-- pop_alert_inner -->
    <div class="pop_alert_inner">
        <!-- pop_tit -->
        <div class="pop_tit">
            <strong class="tit_s tit">이메일주소 무단수집거부</strong>
        </div>
        <!-- pop_tit -->
        <!-- pop_cont -->
        <div class="pop_cont">
            <div class="pop_txt">
                본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반 시 정보통신망법에 의해 형사 처벌됨을 유념하시기 바랍니다.
            </div>
            <div class="pop_btn"><button type="button" class="btn_m btn_ty" onClick="layerpop.close('anti');"><span>확인</span></button></div>
        </div>
        <!-- pop_cont -->
        <button type="button" class="btn_pop_close pop_close"><span class="blind">닫기</span></button>
    </div>
    <!-- //pop_alert_inner -->
  </div>
  <div class="layer_wrap pop_alert_ty" id="ideaPolicy">
    <!-- pop_alert_inner -->
    <div class="pop_alert_inner">
        <!-- pop_tit -->
        <div class="pop_tit">
            <strong class="tit_s tit">아이디어 제안에 대한 정책</strong>
        </div>
        <!-- pop_tit -->
        <!-- pop_cont -->
        <div class="pop_cont">
            <div class="pop_txt">
                삼성SDS 및 삼성SDS 임직원은 당사가 공식적으로 요청하지 않았음에도 불구하고 여러분께서 일방적으로 당사에 제출하는 아이디어나 제안 등을 수령하거나 검토하지 않습니다.
                <p class="mt">이는 제출하신 내용이 당사 내부적으로 개발한 제품, 기술, 서비스와 유사할 경우 발생할 수 있는 오해와 분쟁을 방지하고 나아가 여러분의 창의적인 아이디어를 적극 보호하기 위함입니다.</p>
                <p class="mt">이러한 취지를 이해하여 주시고 구체화되지 않은 아이디어나 콘셉트(Concept) 단계의 제안이 당사에 제출되지 않도록 하여 주시기 바랍니다.</p>
            </div>
        </div>
        <!-- pop_cont -->
        <button type="button" class="btn_pop_close pop_close"><span class="blind">닫기</span></button>
    </div>
    <!-- //pop_alert_inner -->
  </div>
  <!-- //layer -->
